<footer class="u-position-relative u-padding-v-xlarge u-bg-black">

	<div class="u-wrapper u-z-index-9 u-position-relative">

		<img src="assets/images/product-spark-symbol.png" alt="" class="u-margin-auto u-margin-t-large u-margin-b-xxlarge">

		<p class="u-t-color-white u-t-center u-t-small u-padding-b-small">Product Spark Ltd, The Exchange, Express Park, Bristol Road, TA6 4RR</p>

		<div class="u-flex u-flex-center">
			<div class="u-flex-item u-margin-h-small">
				<a href="mailto:hello@productspark.io">
					{% include icon-email.svg %}
				</a>
			</div>
			<div class="u-flex-item u-margin-h-small">
				<a href="https://twitter.com/ProductSpark" target="_blank" rel="noopener">
					{% include icon-twitter.svg %}
				</a>
			</div>
		</div>
	</div>

	<div class="u-bg-image u-bg-image-overlay" style="background-image: url('assets/images/hero2.jpg');"></div>

</footer>