---
layout: default
title: ProductSpark.io
---

<section class="u-padding-t-xxlarge u-padding-b-xlarge u-bg-image" aria-labelledby="intro">

	<div class="u-wrapper u-t-center">

		<h1 id="intro" class="u-t-xxlarge u-t-normal u-padding-t-small u-padding-b-small u-t-gradient u-display-inline">Your idea, live in 4 weeks</h1>

		<p class="u-t-medium u-t-weight-light u-t-color-gray u-margin-auto">We validate and build amazing ideas.</p>

	</div>

</section>

<section class="u-padding-v-xxlarge u-bg-image u-bg-fixed" style="background-image: url('assets/images/hero.jpg');"  aria-labelledby="about">

	<div class="u-wrapper">

		<div class="u-padding-a-large u-max-width-40--tablet-up u-margin-auto u-bg-black-opacity-75 u-t-color-white">

			<h2 class="u-margin-b-small u-t-large u-t-normal" id="about">Who we are</h2>

			<p class="u-margin-b-medium u-t-color-gray-light">Innovation Studio and 10/10 company where clients get to see their ideas out in the market. Where apps are used and enjoyed.</p>

			<div class="u-t-center">
				<a href="" class="btn btn--bordered btn--t--white">About us</a>
			</div>

		</div>

	</div>

</section>

<section class="u-padding-v-large" aria-labelledby="startups">

	<div class="u-wrapper">
	
		<div class="u-flex--tablet-up u-flex-center">

			<div class="u-flex-item u-flex-item--half u-padding-r-small u-padding-v-large">

				<h2 class="u-t-xlarge u-padding-b-small" id="startups">Startups</h2>

				<p class="u-t-medium u-padding-b-medium u-max-width-75">We can test and bring your awesome idea to market in the blink of an eye.</p>

				<div class="u-flex">
					<a href="" class="btn btn--brand u-margin-r-xsmall">Read more</a>
					<a href="" class="btn btn--bordered u-margin-l-xsmall">Watch video</a>
				</div>

			</div>

			<div class="u-flex-item u-flex-item--half u-padding-v-large">

				<a href="" class="video-link">
					<span class="video-link__icon">
						{% include icon-play.svg %}
					</span>
					<img src="assets/images/startup-hero.jpeg" alt="Snapshot of a video about solutions for startups">
				</a>

			</div>

		</div>

	</div>

</section>

<section class=" u-t-center u-padding-b-large" aria-labelledby="startups-content">

	<div class="u-wrapper">

		<h1 id="startups-content" class="u-t-xlarge u-t-normal">How does it work</h1>

		<div class="u-flex--tablet-up u-flex-center">

			<div class="u-flex-item u-flex-item--third u-padding-a-medium">
				{% include icon-validation.svg %}
				<h3 class="u-t-medium u-padding-b-small">Start with Validation</h3>
				<p class="u-t-color-gray">We start every new product by validating both the product strategy and technical approach to the product.</p>
			</div>

			<div class="u-flex-item u-flex-item--third u-padding-a-medium">
				{% include icon-market.svg %}
				<h3 class="u-t-medium u-padding-b-small">Product-Market-Fit</h3>
				<p class="u-t-color-gray">We start every new product by validating both the product strategy and technical approach to the product.</p>
			</div>

			<div class="u-flex-item u-flex-item--third u-padding-a-medium">
				{% include icon-support.svg %}
				<h3 class="u-t-medium u-padding-b-small">Support and develop</h3>
				<p class="u-t-color-gray">We start every new product by validating both the product strategy and technical approach to the product.</p>
			</div>

		</div>

	</div>

</section>

<section class="u-bg-gray u-t-color-white u-padding-v-xlarge u-bg-fixed" style="background-image: url('assets/images/pattern.png');" aria-labelledby="enterprise">

	<div class="u-wrapper">
	
		<div class="u-flex--tablet-up u-flex-center u-t-center u-padding-v-large">
			<div class="u-flex-item u-flex-item--half">
				<a href="" class="video-link">
					<span class="video-link__icon">
						{% include icon-play.svg %}
					</span>
					<img src="assets/images/enterprise-hero.jpeg" alt="Snapshot of a video about solutions for enterprises">
				</a>
			</div>
			<div class="u-flex-item u-flex-item--half u-padding-h-small u-padding-v-large">
				<h2 class="u-t-xlarge u-padding-b-medium" id="enterprise">Enterprise</h2>
				<p class="u-t-medium u-padding-b-large u-max-width-75 u-margin-auto">Accelerated product development through expert consultancy</p>
				<div class="u-flex u-flex-center">
					<a href="" class="btn btn--brand u-margin-r-xsmall">Read more</a>
					<a href="" class="btn btn--bordered btn--t--white u-margin-l-xsmall">Watch video</a>
				</div>

			</div>
		</div>

	</div>

</section>

<section class="u-margin-v-xxlarge" aria-labelledby="enterprise-content">
	
	<div class="u-wrapper u-t-center">

		<h3 class="u-t-xlarge u-t-normal u-margin-b-small u-max-width-75 u-margin-auto" id="enterprise-content">"It's like magic, I can't believe how much we've moved forward in so little time"</h3>

		<p class="u-t-medium u-t-color-gray u-padding-b-large">IT Director</p>

		<div class="u-max-width-50 u-margin-auto">
			<p>For established products in established markets, we don't need to establish product-market-fit so it makes sense that we approach enterprises differently than startups.</p>
		</div>

	</div>

</section>